@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700,900&display=swap');

$family-sans-serif: 'Montserrat',
sans-serif;
$primary: #f9dc30;

:root {
    --primary: #{$primary};
    --espaciado-footer: 35px;
    --margin-title: 97px;
}


@mixin rwd($condition, $valor) {

    @media screen and (#{$condition}-width:$valor) {
        @content;
    }

}


// framework bulma

@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/grid/columns.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/base/_all.sass";

// ese de base es importante, recordar

// lightgallery
@import "~fullpage.js/dist/fullpage.min.css";
// @import "../css/lightgallery.min.css";

//fullpage.js
// @import "../css/fullpage.min.css";

*,
*::after,
*::before {
    box-sizing: border-box;
}


section {


    padding: 60px 30px;
    color: black;

    @include rwd('max', 768px) {
        padding: 15px 0;
    }
}

.iScrollIndicator {
    width: 0 !important;
    // scroll del fullpagejs
}

.lg-backdrop.in {
    opacity: 0.9;
}

.seccion {

    @include rwd('min', 768px) {
        padding: inherit;

    }



    // height: 100vh;
    @include rwd('max', 768px) {
        // padding: 0;
    }
}

.title {
    color: black;

    @include rwd('max', 768px) {
        font-size: 21px !important;
    }
}

.column {
    padding: initial;

    &s {
        @include rwd('max', 768px) {

            margin: 0;
        }
    }
}




.video-section {
    padding: 0px 0px 30px 50px !important;

    @include rwd('min', 768px) {
        // margin-top: -45px;
    }

    @include rwd('max', 768px) {
        padding: 25px 0px 0px 0px !important;
    }


    .fp-scroller {
        overflow: visible;
    }

    &__actions{

            
        width: 100%;
        display:flex;
        justify-content: space-between;

        @include rwd('max',768px){
            flex-direction: column;
        }
        
        &-mouse {
            position: relative;
            // width: 280px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            // align-self: flex-start;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: none;
            border: none;
            cursor: pointer;
    
    
            &:active,
            &:focus {
                outline: none;
            }
    
            @include rwd('max', 768px) {
                margin-top: 15px;
                margin-bottom: 20px;
                align-self: center;
            }
    
            svg {
                height: 100%;
                position: absolute;
            }
    
            &--front {
                top: 50%;
                transform-origin: top;
                transform: scaleY(0.9);
                animation: move-mouse 0.5s ease-in-out alternate infinite;
            }
        }

        a {
            font-weight: 600;
            padding: 5px 82px;
            background: var(--primary);
            border: 3px solid black;
            border-radius: 15px;
            color: black;
            font-weight: 900;
            // align-self: flex-start;
            height: 55px;
            display: flex;
            align-items: center;
    
            @include rwd('max', 768px) {
                align-self: center;
            }
        }
    }

    &__texto {
        padding: 15px 25px;
        align-items: flex-start!important;

        h1 {
            font-size: 28px;
            text-align: left;
            white-space: pre-line;
            align-self: flex-start;

            @include rwd('max', 768px) {
                align-self: initial;
                text-align: center;
            }
        }

        p {
            color: black;
            font-weight: 600;
            // white-space: pre-line;
            font-size: 15px;
            font-weight: 800;

            span {
            }
        }

        @include rwd('min', 768px) {
            padding-top: 45px;
        }

        &>*:not(:last-child) {
            margin-bottom: 13px;
        }

        ul {
            font-size: 13px;

            li{
                display: flex;
                align-items: center;
                &:before{
                    content: "";
                    display: inline-block;
                    width: 5px;
                    height: 5px;
                    background: var(--primary);
                    border-radius: 50%;
                    margin-right: 5px;
                }
            }
        }

        

    }

    nav {
        // padding-left: 50px;
        padding-top: 50px;
        align-self: center;
        // align-self: flex-start;
        // margin-bottom: 10px!important;

        @include rwd('max', 768px) {
        }



        svg {
            width: 150px;
        }

        padding: 0;
        // position: absolute;
        // top: 6%;

        @include rwd('max', 768px) {
            // padding-left: 7%;
            position: relative;
            top: unset;
        }

        .navbar-brand {
            @include rwd('max', 768px) {
                justify-content: center;
                // margin-bottom: 20px;



                svg {
                    width: 96px;
                }
            }
        }
    }

    .columns {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .column {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @include rwd('max', 768px) {
                text-align: center;
            }

            .video {
                // height: 100%;
                // width: 100%;
                object-fit: cover;

                width: 90%;
                height: 161px;

                @include rwd('min', 768px) {
                    height: 452px;


                }

                

                // &--desktop{

                //     display: none;
                //     @include rwd('min',768px){
                //         display: block;
                //     }
                // }

                // &--mobile{
                //     display: none;
                //     max-width: 100%;
                //     height: auto;
                //     margin: auto;
                //     width: 125px;
                //     height: 250px;
                //     @include rwd('max',768px){
                //         display: block;
                //     }

                //     margin-bottom: 500px;
                // }
            }

            h1 {
                @include rwd('max', 768px) {
                    font-size: 21px;
                }
            }
        }
    }



    

   
}

.membresias {
    background-color: var(--primary);

    @include rwd('min', 768px) {

        padding-top: 0;
    }

    @include rwd('max', 768px) {
        padding: 35px 15px;
    }

    .columns.is-multiline {
        justify-content: space-evenly;
    }


    @include rwd('min', 768px) {
        padding-left: 40px;

    }

    &__name {
        font-size: 30px;

        span {
            position: relative;
            font-size: 65px;
            border-radius: 0 0 5px 5px;
            font-weight: 700;
            padding-bottom: 70px;
            padding-left: 4%;
            text-align: left;

            svg {
                position: absolute;
                left: 0;
                height: 150px;
            }
        }

        b {
            display: block;
            font-weight: 900;
            margin-top: -18px;
            margin-bottom: 15px;
        }

    }

    &__membresia {

        @include rwd('max', 768px) {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 15px;
            margin-left: 27%;
        }

        @include rwd('min', 768px) {
            max-width: 302px;

        }

        h2 {
            font-weight: 600;

            @include rwd('min', 768px) {
                padding-left: 10px;
            }

        }

        h3,
        p span {
            width: 100%;
            display: block;
            background-color: var(--primary);
            margin-right: auto;
            color: black;
        }

        h3 {
            text-align: left;
            padding-left: 2px;
            font-size: 40px;
            margin-bottom: 0;
            border-radius: 5px 5px 0 0;
            padding-top: 10px;
            font-weight: 600;

            @include rwd('max', 768px) {
                // text-align: center;
                width: 90%;
            }
        }

        p:nth-of-type(2) {
            font-size: 20px;
        }



        ul {
            li {

                font-weight: 600;
                font-size: 14px;
                margin-top: 5px;

                // &::before {
                //     content: "-";
                // }
            }
        }

    }
}


.gallery {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;

    @include rwd('max', 768px) {
        padding-top: 15px;

        .columns {
            display: flex;

            &>.column {
                flex: none;
            }
        }

    }

    h2.title.is-2 {
        font-weight: 600;
        padding-left: var(--margin-title);
        margin-bottom: 35px;

        @include rwd('max', 768px) {
            padding-left: 12px;
            width: 100%;
            margin-bottom: 15px;
        }
    }

    .column:not(h2) {
        // width: 100%;
        padding: 0;
        height: 250px;
        position: relative;

        &:hover {

            img {
                filter: grayscale(0);
            }

            p {
                opacity: 0;
                cursor: pointer;
            }

            &::after {
                opacity: 0;
            }
        }

        p {
            font-weight: 600;
            font-size: 30px;
            color: white;
            display: block;
            width: 100%;
            text-align: center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 5;
            opacity: 1;
            transition: opacity 0.3s ease-in;
            white-space: pre-line;
            letter-spacing: 3px;


            @include rwd('max', 768px) {
                font-size: 15px;
            }
        }

        img {
            width: 100%;
            height: 100%;
            padding: 0;
            object-fit: cover;
            filter: grayscale(1);
            transition: filter 0.3s ease-in;
            cursor: pointer;

        }


        text-shadow: 0 0 3px black;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            background: black;
            opacity: 0.6;
            transition: 0.3s opacity ease-in;
            height: 100%;
            width: 100%;
        }

    }
}


.features {
    display: flex;
    align-items: center;

    .fp-scroller {
        overflow: visible;
    }

    h2 {

        // padding-left: 8px;
        @include rwd('min', 768px) {
            padding-left: var(--margin-title);
            margin-bottom: 80px !important;

        }

        @include rwd('max', 768px) {
            padding-left: 12px;
        }
    }

    padding-top: 0;

    ul {

        @include rwd('max', 768px) {
            display: flex;
        }

        @include rwd('min', 768px) {
            padding: 0 10%;
        }

        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            white-space: pre-line;
            font-weight: 600;
            color: black;
            text-align: center;

            svg {
                height: 50px;
            }

            @include rwd('max', 768px) {
                margin-bottom: 15px;
            }

            @include rwd('min', 768px) {

                margin-bottom: 25px;
            }
        }

    }
}


footer {
    h4.title.is-2 {
        @include rwd('max', 768px) {
            padding-left: 8px;
        }

        @include rwd('min', 768px) {
            padding-left: var(--margin-title);
            margin-bottom: 40px;

        }

        span {
            font-weight: 800;
        }
    }

    .footer {

        &__map {

            @include rwd('min', 768px) {
                padding-left: var(--margin-title);
            }

            iframe {
                width: 100%;
                height: 100%;

            }

            @include rwd('max', 768px) {
                margin-bottom: 15px;
            }
        }

        &__text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            padding-left: 70px;
            font-style: normal;
            font-weight: 600;
            color: black;


            &>*:not(:last-child) {
                margin-bottom: 15px;
            }


            a {
                color: black;

                &.contact {

                    &-tel {
                        svg {

                            margin-right: calc(var(--espaciado-footer) / 1.9);
                        }
                    }

                    &-mail {
                        svg {
                            height: 15px;
                            margin-right: calc(var(--espaciado-footer) / 3);
                        }
                    }


                }
            }

            &-address {
                white-space: pre-line;
                padding-left: var(--espaciado-footer);
                position: relative;

                svg {
                    position: absolute;
                    left: 0;
                    top: 5%;
                }


            }

            svg {
                height: 25px;
            }

        }

        &__media {

            width: 100%;
            padding-left: var(--espaciado-footer);
            font-weight: 600;

            p {

                white-space: pre-line;
            }

            a {
                display: inline-block;
                margin-top: 15px;
                margin-right: 15px;
            }

        }
    }

    .go-top {
        position: absolute;
        width: 50px;
        height: 50px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: none;
        border: none;
        cursor: pointer;
        right: 2%;
        bottom: 1%;

        transition: fill 0.3s ease-in;

        &:focus,
        &:active {
            outline: none;
        }

        .st1 {
            transition: stroke 0.3s ease-in;
        }

        &:hover {
            fill: var(--primary);

            .st1 {
                stroke: var(--primary);
            }
        }

        @include rwd('min', 768px) {
            width: 70px;
            height: 70px;
            bottom: 18%;
            right: 15%;
        }

    }
}


@keyframes move-mouse {
    to {
        transform: scaleY(0.9);
    }

    from {
        transform: scaleY(1);
    }
}